i.pe-7s-close{
	color: black;
	font-size: 1.8em;
}

i.pe-7s-bookmarks {
	color: black;
	font-size: 1.8em;
}

i.pe-7s-plus {
	color: black;
	font-size: 1.8em;
}

i.pe-7s-bookmarks{
	color: black;
	font-size: 1.8em;
}


.modal-backdrop {
	display: none;
	visibility: hidden;
	position: relative;
}

.hide{
	
}

#logo{
	width:100px; 
    height: auto;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
	position: absolute;
	bottom: 260px;
	right: 600px;

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

hideLoader{
	display: none;
}

.separator{
	margin-rigth: 10px;
}
