<meta http-equiv="Content-Type" content="text/plain; charset=UTF-8">

<div class="consult">
    <br> <br>
    <fieldset class="conteudo-fieldset" id="fieldset-contato">
        <legend>Consulta de Sessões</legend>
        <div class="div-form-consult">
            Digite a data da sessão: <input id="consultsession" type="date">
        </div>
        <input type="checkbox" id="checkdate" /> - Procurar data entre:
        <div id="autoUpdate" class="autoUpdate" style="display: none">
            <input id="consultsessionbet" type="date">
        </div>
        <div id="botaoconsulta">
            <input id="consultSessions" onClick="SESSIONCRUD.session.search()" type="button" class="btn btn-primary btn-sm" value="Buscar"/>
        </div>
        <div id="resultadoContatos" class="divResultado"></div>
    </fieldset>
    <div id="resultSession" class="divResult"></div>
</div>
<div id="editSession" style="display: none">
    <div class="div-form-consult">
        <div class="div-form">
            <label>Data:</label> <input type="date" id="dateEdit" name="dateEdit">
            <br>
            <br>
            Presente: 
            <select id="presentEdit">
                <option>Sim</option>
                <option>Não</option>
            </select>
            <br>
        </div>
        <br>
        Registro:
        <textarea id="registerEdit"></textarea>
    </div>
    <input name="idUserEdit" id="idUserEdit" type="hidden"></input>
</div>