
form {
display: inline-block;
}

input{
padding: 4px 15px 4px 5px;
}

i.pe-7s-close{
	color: black";
	font-size: 1.8em;
}


#butao {
	display: inline-block;
	background-color: #fc999b;
	color: #ffffff;
	border-radius: 5px;
	text-align: center;
	margin-top: 2px;
	padding: 5px 15px;
}

#butao:hover {
	cursor: pointer;
	opacity: .8;
}

ol {
	padding-left: 20px;
}

ol li {
	padding: 5px;
	color: #000;
}

ol li:nth-child(even) {
	background: #dfdfdf;
}

.strike {
	text-decoration: line-through;
}

li:hover {
	cursor: pointer;
}

.agendaalign {
	margin-left: 40px;
}

.reminderalign{
	margin-left: 2px;
}